*{
    box-sizing: border-box;
}
body{
    border: 1px solid black;
}
.left-panel, .right-panel{
    /* border: 1px solid black; */
    min-height: 100vh;
}
.right-panel{
    padding: 20px;
    overflow-y: scroll;
    
}
.content p{
    display: flex;
    justify-content: center;
}


.left-panel{
    border-right: 1px solid black;
    padding-right: 0px;
}
.btn{
    border: 1px solid black;
    margin-top: 5px;
    margin-right:30px;
    margin-bottom: 10px;
}

i{
    margin-right: 10px;
}

.heading{
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: lightblue;
}
.heading h3{
    margin: 0px;
}

.background-color{
    background-color: rgb(217, 185, 143);
    border: 1px solid black;
    border-radius: 5px;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.paste{
    border: 1px solid black !important;
}